* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header {
    background-image: url(../images/sky.png);
    background-size: cover;
    padding-top: 120px;
    padding-bottom: 138px;
}

.container {
    max-width: 1146px;
    margin: auto;
}

h1 {
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    font-size: 54px;
    color: #022b79;
    margin-bottom: 27px;
}

header p {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    font-size: 18px;
}

nav {
    background-color: #003395;
    padding-top: 27px;
    padding-bottom: 26px;
}

nav a {
    margin-right: 62px;
    color: #fff;
    text-decoration: none;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

main {
    padding-top: 57px;
    padding-bottom: 62px;
}

.right-column a {
    color: #30233D;
}

.left-column {
    display: inline-block;
    width: 751px;
    vertical-align: top;
    margin-right: 30px;
}

.right-column {
    display: inline-block;
    width: 361px;
    vertical-align: top;
}

.news {
    border: solid 2px #33008D;
    padding: 19px 19px 26px 19px;
    margin-bottom: 55px;
}

.some-links {
    border: solid 2px #33008D;
    padding: 19px 19px 26px 19px;
}

h2 {
    color: #003395;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: bold;
    line-height: 31.64px;
    vertical-align: top;
    font-size: 27px;
    padding-top: 13px;
    padding-bottom: 15px;
    border-top: 2px solid #003395;
    border-bottom: 2px solid #003395;
}

h3 {
    padding: 14px 17px;
    background-color: #24B0FF;
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: bold;
    line-height: 31.64px;
    font-size: 27px;
}

.left-column p {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: normal;
    line-height: 26.46px;
    margin-bottom: 34px;
}

.right-column p {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: normal;
    font-size: 16.2px;
    line-height: 163.5%;
}

ul {
    list-style: none;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: normal;
    font-size: 16.2px;
    line-height: 163.5%;
}

footer {
    background-image: linear-gradient( #003395, #00205F);
    padding-top: 45px;
    padding-bottom: 83px;
}

.copyright p {
    color: #fff;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 11.7px;
    font-weight: normal;
    line-height: 163.35%;
    text-align: right;
}